body {
  background-color: #303030;
}
.icon {
border-radius: 50%;
margin-top: 25px;
margin-left: 5px;
margin-bottom: 1px;
}
.name{
color: white;
margin-top: 3px;
margin-left: 5px;
margin-bottom: 5px;
}
.bio p{
color: #999;
margin-left: 5px;
font-size: 13px;
}
/* 文章 */
.article {
  background-color: #424242；
  border-radius: 10px;
  margin-left: 5px;
}
/* 文章标题 */
.title {
  font-size: 29px;
  text-align: center;
  color: white;
}
.changelog_title {
  color: #33A0FF;
  font-size:35px;
  }
/* 文章撰写日期 */
.date {
  color: #999;
  font-size: 15px;
}
/* 文章每段样式 */
.duanluo {
  text-indent: 2em;/* 开头空两格 */
  color: white;
}
a {
  text-decoration: none;
  color: #33A0FF;
  width: 300;
}
.bottom h1 {
  color: white;
  line-height: 5px;
  }
.bottom p {
  color: #33A0FF;
  font-size: 15px;
  font-weight: 500;
  }
.bottom a {
  text-decoration: none;
  }
a:hover{
color: white;
}
.pic img {
      width: 100%;
      height: auto; /* 保持图片宽高比 */
      display: block; /* 防止底部空白 */
margin: 0 auto;
    }
pic {
border-radius: 10px;
}
